body {
  margin: 0;
  font-family: Orbitron;
  font-weight: 500;
}

#game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#three-canvas {
  width: 100%;
  height: 100%;
  display: block;
  background-color: black;

  &.desaturated {
    transition: filter 5s ease-in;
    filter: saturate(0.3333);
  }
}

#ui-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#thrust-bar-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 40px;
  height: 300px;
  display: none;
  flex-direction: column-reverse; /* So bottom segment is first */
  align-items: center;
  justify-content: flex-start;
}

.thrust-segment {
  width: 60%; /* base width */
  height: 10px;
  margin: 2px 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  transition: background 0.333s,
              box-shadow 0.7s;
}

.thrust-segment.drive {
  background: #36b4ffcc;
}

.thrust-segment.fulldrive {
  box-shadow: 0 0 3px 0.2px #36b4ff;
}

.thrust-segment.reverse {
  background: #FFA93699;
}

.thrust-segment.fullreverse {
  box-shadow: 0 0 3px 0.2px #FFA936bb;
}

#material-container {
  position: absolute;
  bottom: 22px;
  left: 70px;
  width: 40px;
  height: 20px;
  display: none;
  font-size: 20px;
  text-align: center;
  color: #36b4ff;
}

#material-text {
  margin-left: 0.5em;
}

#game-start-container {
  display: none;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translateX(50%) translateY(50%) scale(69);
  align-items: center;
  opacity: 0;
  clip-path: inset(0 0 0 0);

  transition: opacity 4s ease,
    transform 4s cubic-bezier(1.0, 0, 1.0, 1.0);

  &.visible {
    opacity: 1;
    transform: translateX(50%) translateY(50%) scale(1);
    transition: opacity 2.5s 1s linear,
      clip-path 0.7s 0.95s linear;
  }
}

#game-start-svg {
  width: 75vw;
  margin-bottom: 1vw;
}

@media only screen and (max-width: 699px) {
  #game-start-svg {
    width: 90vw;
  }
}

#start-text {
  font-size: clamp(1em, 1.93vw, 100em);
  text-align: center;
  color: #36b4ff;
}

#game-over-container {
  display: none;
  position: absolute;
  bottom: 50%;
  left: 0px;
  width: 100%;
  transform: translateY(50%);
  align-items: center;
  opacity: 0;
  clip-path: inset(0 0 100% 0);

  transition: opacity 0.6s ease,
    clip-path 0.6s linear;

  &.visible {
    opacity: 1;
    clip-path: inset(0 0 0 0);
    transition: opacity 2s 1s ease;
  }
}

#game-over-text {
  width: 100%;
  font-size: 12vw;
  text-align: center;
  color: #f44741a6;
  text-shadow: -2px -2px 0px #0005;
}

#game-over-continue-text {
  font-size: clamp(1em, 1.93vw, 100em);
  text-align: center;
  color: #f44741;
}

#highscores-container {
  display: none;
  position: absolute;
  bottom: 50%;
  left: 0px;
  width: 100%;
  transform: translateY(50%);
  align-items: center;
  opacity: 0;

  &.visible {
    opacity: 1;
    transition: opacity 2s 0.5s ease;
  }
}

#highscores-text {
  width: 100%;
  font-size: clamp(2.8em, 10vw, 100em);
  text-align: center;
  color: transparent;
  text-shadow: 0px 0px 10px #67c7ff40, 0px 0px 30px #b2e3ff25, 0px 0px 0px #36b4ff99, -0.75vw -0.75vw 5px #0007;

  background: linear-gradient(
    90deg,
    transparent 15%,
    white 60%,
    transparent 85%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 4.2s linear infinite;
}

#highscores-table {
  width: 100%;
}

.highscores-error {
  font-size: clamp(1em, 1.93vw, 100em);
  color: #FF363DB0;
  text-align: center;
  padding-right: 0.2vw;
  width: 1%;
}

.highscores-position {
  font-size: clamp(0.85em, 1.93vw, 100em);
  color: #ccc8;
  text-shadow: -0.2vw -0.2vw 0.3vw #0006;
  text-align: right;
  padding-right: 3vw;
}

.highscores-name {
  font-size: clamp(0.85em, 1.93vw, 100em);
  color: #ccca;
  text-shadow: -0.2vw -0.2vw 0.3vw #0006;
  text-align: right;
  padding-right: 0.2vw;
  width: 1%;
  max-width: 11em;
  overflow:hidden;
}

.highscores-name-1st {
  color: transparent;
  font-style: italic;
  background: linear-gradient(
    90deg,
    #36b4ffb9 50%,
    #d4af37 60%,
    #36b4ffb9 70%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: -0.1vw -0.1vw 0.1vw #0007;
  animation: shine 2.02s ease-in-out infinite;
}

.highscores-name-2nd {
  color: transparent;
  font-style: italic;
  background: linear-gradient(
    90deg,
    #36b4ffb9 47%,
    #b6b6b6 60%,
    #36b4ffb9 73%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: -0.1vw -0.1vw 0.1vw #0007;
  animation: shine 2.667s 0.69s ease-in-out infinite;
}

.highscores-name-3rd {
  color: transparent;
  font-style: italic;
  background: linear-gradient(
    90deg,
    #36b4ffb9 30%,
    #b87333 50%,
    #36b4ffb9 70%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: -0.1vw -0.1vw 0.1vw #0007;
  animation: shine 2.76s 0.92s linear infinite;
}

@keyframes shine {
  to { background-position: -200% 0; }
}

.highscores-score {
  font-size: clamp(0.85em, 1.93vw, 100em);
  color: #ccc8;
  text-shadow: -0.2vw -0.2vw 0.3vw #0006;
  text-align: left;
  padding-left: 3vw;
  width: 50%;
}

#highscores-name-input {
  font-size: 1.7vw;
  color: #ccc;
  background-color: black;
  border: 1px solid #36b4ff;
  pointer-events: auto;
}

.highscores-name-input-invalid {
  animation: invalid-blink 0.26s ease-in-out 2;
}

@keyframes invalid-blink {
  0% { background-color: black; }
  50% { background-color: #FF363D; }
  100% { background-color: black; }
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

#highscores-name-submit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7vw;
  color: #c0c0c0;
  background-color: #4449;
  border: 1px solid #36b4ff;
  margin-left: 6vw;
  pointer-events: auto;
  padding: 0px 5px 0px 5px;
  box-shadow: -0.2vw -0.2vw 0.3vw #0006;
}

#highscores-name-submit:hover {
  color: #ffffff;
  background-color: #484848bb;
}

#highscores-restart-text {
  font-size: clamp(1em, 1.93vw, 100em);
  text-align: center;
  color: #36b4ff;
}

@starting-style {
  #game-start-container.visible {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  #game-over-container.visible {
    opacity: 0;
  }
  #highscores-container.visible {
    opacity: 0;
  }
}

#fps-container {
  position: absolute;
  top: 22px;
  left: 22px;
  width: 40px;
  height: 20px;
  display: flex;
  font-size: 10px;
  color: #808080;
}
