body {
  margin: 0;
  font-family: Orbitron;
  font-weight: 500;
}

#game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#three-canvas {
  width: 100%;
  height: 100%;
  display: block;
  background-color: black;
}

#ui-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#thrust-bar-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 40px;
  height: 300px;
  display: none;
  flex-direction: column-reverse; /* So bottom segment is first */
  align-items: center;
  justify-content: flex-start;
}

.thrust-segment {
  width: 60%; /* base width */
  height: 10px;
  margin: 2px 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  transition: background 0.333s,
              box-shadow 0.7s;
}

.thrust-segment.drive {
  background: #36b4ffcc;
}

.thrust-segment.fulldrive {
  box-shadow: 0 0 3px 0.2px #36b4ff;
}

.thrust-segment.reverse {
  background: #FFA93699;
}

.thrust-segment.fullreverse {
  box-shadow: 0 0 3px 0.2px #FFA936bb;
}

#game-start-container {
  display: none;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translateX(50%) translateY(50%) scale(69);
  align-items: center;
  opacity: 0;
  clip-path: inset(0 0 0 0);

  transition: opacity 4s ease,
    display 4s ease allow-discrete,
    transform 4s cubic-bezier(1.0, 0, 1.0, 1.0);

  &.visible {
    opacity: 1;
    display: block;
    transform: translateX(50%) translateY(50%) scale(1);
    transition: opacity 2.5s 1s linear,
      display 2s 1s ease allow-discrete,
      clip-path 0.7s 0.95s linear;
  }
}

#game-start-text {
  font-size: 12vw;
  color: #36b4ffb9;
  text-shadow: -0.5vw -0.5vw 0px #0005;
}

#start-text {
  font-size: 1.93vw;
  text-align: center;
  color: #36b4ff;
}

#material-container {
  position: absolute;
  bottom: 22px;
  left: 70px;
  width: 40px;
  height: 20px;
  display: none;
  font-size: 20px;
  text-align: center;
  color: #36b4ff;
}

#material-text {
  margin-left: 0.5em;
}

#game-over-container {
  display: none;
  position: absolute;
  bottom: 50%;
  left: 0px;
  width: 100%;
  transform: translateY(50%);
  align-items: center;
  opacity: 0;

  transition: opacity 2s 1s ease,
    display 2s 1s ease allow-discrete;

  &.visible {
    opacity: 1;
    display: block;
  }
}

#game-over-text {
  width: 100%;
  font-size: 12vw;
  text-align: center;
  color: #f44741a6;
  text-shadow: -2px -2px 0px #0005;
}

#restart-text {
  width: 100%;
  font-size: 1.93vw;
  text-align: center;
  color: #f44741;
}

@starting-style {
  #game-start-container.visible {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  #game-over-container.visible {
    opacity: 0;
  }
}

#fps-container {
  position: absolute;
  top: 22px;
  left: 22px;
  width: 40px;
  height: 20px;
  display: flex;
  font-size: 10px;
  text-align: center;
  color: #808080;
}
